Flows/Flow Light.json
[
    {
        "id": "82fadbb32844b5ad",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4311c49d56d8a6bb",
        "type": "mqtt in",
        "z": "82fadbb32844b5ad",
        "name": "",
        "topic": "topic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "66973921ea8d454c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "5d00941d7da3db1a"
            ]
        ]
    },
    {
        "id": "8ddb671b45c8ff3b",
        "type": "ui_gauge",
        "z": "82fadbb32844b5ad",
        "name": "Light",
        "group": "67f2aa0b428faa56",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "donut",
        "title": "LED",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb5e"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "5d00941d7da3db1a",
        "type": "function",
        "z": "82fadbb32844b5ad",
        "name": "function 1",
        "func": "function delay(time){\n    return new Promise((resolve) => setTimeout(resolve, time));\n}\n\nif (typeof msg.payload === 'boolean'){\n    if (msg.payload === true){\n        await delay(2000)\n        return {...msg, payload:0}\n    }\n}\nelse {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "c9658316b7c8e14e",
                "8ddb671b45c8ff3b",
                "141100ac2741fb57",
                "777dbfb325d2c0e0"
            ]
        ]
    },
    {
        "id": "c9658316b7c8e14e",
        "type": "ui_text",
        "z": "82fadbb32844b5ad",
        "group": "67f2aa0b428faa56",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "prueba",
        "label": "{{msg.payload}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "141100ac2741fb57",
        "type": "debug",
        "z": "82fadbb32844b5ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "777dbfb325d2c0e0",
        "type": "mqtt out",
        "z": "82fadbb32844b5ad",
        "name": "State",
        "topic": "state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66973921ea8d454c",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "66973921ea8d454c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto-light",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "67f2aa0b428faa56",
        "type": "ui_group",
        "name": "Light",
        "tab": "b5cb556faed22802",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5cb556faed22802",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]